  <div class="footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <h6 class="footer-title">Learn more</h6><a class="link footer-link" href="/features">Why pureCoders</a><a class="link footer-link" href="/pricing">Pricing</a><a class="link footer-link" href="/features">Features</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <h6 class="footer-title">Community</h6><a class="link footer-link" href="#">Our Blog</a><a class="link footer-link" href="#">Forum</a><a class="link footer-link" href="#">Google +</a>
        </div>
        
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <!-- <h6 class="footer-title">Support</h6><a class="link footer-link" href="#">FAQ</a><a class="link footer-link" href="#">Help documents</a><a class="link footer-link" href="/contact">Send us a mail</a> -->
        </div>
        
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <h6 class="footer-title">Contact</h6><a class="link footer-link" href="mailto:info@">edward@purecoders.co.uk</a><a class="link footer-link" href="tel:">(+44) 202 102033</a>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4 footer-bottom-column">
            <p class="bottom-footer-text">© 2014 pure&nbsp;Coders.co.uk</p>
          </div>
          <div class="w-col w-col-4 footer-bottom-column">
            <p class="bottom-footer-text">Address: Inside planet Earth's matrix</p>
          </div>
          <div class="w-col w-col-4 footer-bottom-column">
            <a class="w-inline-block some-block-small footer-icon" href="http://www.twitter.com" target="_blank">
              <img src="images/Icon-twitter.png" alt="532b67a5c316399b5e000110_Icon-twitter.png">
            </a>
            <a class="w-inline-block some-block-small footer-icon" href="http://www.facebook.com" target="_blank">
              <img src="images/Icon-facebook.png" alt="532b67de087b04f33e0000d8_Icon-facebook.png">
            </a>
            <a class="w-inline-block some-block-small footer-icon" href="http://www.google.com" target="_blank">
              <img src="images/Icon-googleplus.png" alt="532bf552c876cc426c000158_Icon-googleplus.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>