
<div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-easing="ease-in-out-quart">
      <div class="w-container"><a class="w-nav-brand logo-container" href="/"><h1>pure<span class="logo-space">Coders</span></h1></a>
        <nav class="w-nav-menu nav-menu-container" role="navigation"><a class="w-nav-link nav-link" href="/">Home</a><!-- <a class="w-nav-link nav-link" href="about-us.html">about</a> --><a class="w-nav-link nav-link" href="/features">Features</a><a class="w-nav-link nav-link" href="/pricing">Pricing</a><!-- <a class="w-nav-link nav-link"
          href="faq.html">faq</a> --><a class="w-nav-link nav-link" href="/contact">contact</a>
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu menu-icon"></div>
        </div>
      </div>
</div>