<%= erb :'partials/head' %>

<body>

  <div class="subpage-header contact">

    <%= erb :'partials/navbanner' %>

  </div>
  <div class="w-widget w-widget-map contact-map" data-widget-latlng="51.5286416,-0.1015987" data-widget-style="roadmap" data-widget-zoom="6" data-disable-touch="1" data-disable-scroll="1"></div>
  <div class="page-content tint">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="w-form">
            <form name="email-form" data-name="Email Form">
              <input class="w-input field" type="text" placeholder="Enter your name" name="name" data-name="Name" required="required">
              <input class="w-input field" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
              <input class="w-input field" type="text" placeholder="Enter a subject" name="subject" data-name="Subject">
              <textarea class="w-input field area" placeholder="Enter text..." name="message" data-name="Message"></textarea>
              <input class="w-button button submit" type="submit" value="Submit" data-wait="Please wait...">
            </form>
            <div class="w-form-done success-bg">
              <h1><strong>Thank you!</strong></h1>
              <p class="all-paragraphs-white">Your submission has been received!
                <br>We’ll get back to you shortly.</p>
            </div>
            <div class="w-form-fail error-bg">
              <p class="all-paragraphs-white"><strong>Oops! </strong>Something went wrong while submitting the form :(</p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 contact-details-column">
          <h2 class="header-title black">Get in touch</h2>
          <p>Feel free to get in touch and ask questions.  pureCoders are very friendly folk and are happy to discuss your problem domain and potential solutions, just fire us an email or look us up on Google.</p>
          <a class="w-inline-block some-block-small dark" href="http://www.twitter.com"
          target="_blank">
            <img src="images/Icon-twitter.png" alt="532b67a5c316399b5e000110_Icon-twitter.png">
          </a>
          <a class="w-inline-block some-block-small dark" href="http://www.facebook.com" target="_blank">
            <img src="images/Icon-facebook.png" alt="532b67de087b04f33e0000d8_Icon-facebook.png">
          </a>
          <a class="w-inline-block some-block-small dark" href="http://www.google.nl" target="_blank">
            <img src="images/Icon-googleplus.png" alt="532bf552c876cc426c000158_Icon-googleplus.png">
          </a>
          <ul class="w-list-unstyled overall-list">
            <li class="w-clearfix overall-list-item">
              <img class="icon-list-item" src="images/icon-black-route.png" alt="532b6a8392a7aad64000000c_icon-black-route.png">
              <p>Mostly via Google +</p>
            </li>
            <li class="w-clearfix overall-list-item">
              <img class="icon-list-item" src="images/icon-home-black.png" alt="532c8af3050bd537540001fe_icon-home-black.png">
              <p>London's Code Matrix</p>
            </li>
            <li class="w-clearfix overall-list-item">
              <img class="icon-list-item" src="images/icon-black-phone.png" alt="532bf58e78b376904c000110_icon-black-phone.png">
              <p>(+44) 202 102033</p>
            </li>
            <li class="w-clearfix overall-list-item">
              <img class="icon-list-item" src="images/icon-black-mail.png" alt="532b6ac055212d916000000c_icon-black-mail.png">
              <p>
                <a href="mailto:info@" class="link"></a><a class="link" href="mailto:info@">info@purecoders.co.uk</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <h2 class="section-header">Got a question?</h2>
      <p>"No dream too big, no dreamer too small."</p>
      <div class="w-row _4-column-row whitespace">
        <div class="w-col w-col-3 overall-column">
          <img class="small-faded-icon" src="images/icon-edit-2.png" alt="532b66cc087b04f33e0000d1_icon-edit-2.png">
          <h4>Personal</h4>
          <p>From websites, to small applications, whatever your problem, pureCoders have a solution.</p>
        </div>
        <div class="w-col w-col-3 overall-column">
          <img class="small-faded-icon" src="images/icon-suitcase-black.png" alt="532b671d4b7ddef13e000146_icon-suitcase-black.png">
          <h4>Business</h4>
          <p>System intregrations, IT re-structures, web-application development?  pureCoders will find your solution. </p>
        </div>
        <div class="w-col w-col-3 overall-column">
          <img class="small-faded-icon" src="images/icon-edit.png" alt="532b67224b7ddef13e000147_icon-edit.png">
          <h4>Big plans</h4>
          <p>If you want to write an application that takes over the world, pureCoders can help you write it.</p>
        </div>
        <div class="w-col w-col-3 overall-column">
          <img class="small-faded-icon" src="images/icon-project.png" alt="532b67294b7ddef13e000148_icon-project.png">
          <h4>Small plans</h4>
          <p>Or should you just prefer a small application to serve a simple community purpose? pureCoders offer solutions for that too.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="image-section">
    <div class="w-container">
      <h2 class="image-section-title">Never to <strong>young</strong> or <strong>old</strong> to learn.<br>Our software will grow along with you.</h2><a class="button green" href="/features">Learn more</a>
    </div>
  </div>
  
 
      <%= erb :'partials/footer' %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>