<%= erb :'partials/head' %>

<body>
  <div class="subpage-header">
    
    <%= erb :'partials/navbanner' %>

    <div class="w-container header-container">
      <h2 class="header-title" data-ix="fade-in-on-load">Things we can do</h2>
      <h2 class="header-title _2" data-ix="fade-in-on-load-2">A list of our features. Amazing, no?</h2>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <h2 class="section-header">Our features</h2>
      <div class="w-row">
        <div class="w-col w-col-4 overall-column">
          <h4>Open source</h4>
          <p>Re-inventing the wheel is never a choice we recommend.  pureCoders are grateful to the genius that have coded before us.  We leverage already beautifully written code where possible, to deliver better, faster and cheaper.</p>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4>No rubbish</h4>
          <p>We do not use Wordpress.  We recommend you stay away from Java.  We maintain the old and de-graded.  It's test driven development all the way.  We humbly follow our 8th Light and pathEleven Masters accordingly.</p>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4>Your style</h4>
          <p>It's your software, you will be using, therefore it's paramount we arrange your user experience accordingly.</p>
        </div>
      </div>
      <div class="divider-line"></div>
      <p>Google has over 50 APIs, and there's much more to discover!&nbsp;<a href="#features" class="link">Learn more ›</a>
      </p>
    </div>
  </div>
  <div class="image-section-with-info">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6 w-hidden-tiny new-features-column-1"></div>
        <div class="w-col w-col-6 w-col-small-6 new-features-column">
          <h2 class="header-title">awesome features</h2>
          <h2 class="header-title _2">Some of the awesome tools we can use</h2>
          <ul class="w-list-unstyled overall-list">
            <li class="overall-list-item">
              <img class="small-faded-icon overlay" src="images/Icon-cards.png" alt="532b6d8792a7aad640000054_Icon-cards.png">
              <h4 class="overlay-title-white">Google API integration</h4>
              <p class="all-paragraphs-white">Google has around 50 different APIs, integrate with your Emails or Calender, or their Maps and Ad exchange services.  The power of what one can build is growing, fast.</p>
            </li>
            <li class="overall-list-item">
              <img class="small-faded-icon overlay" src="images/Icon-imac.png" alt="532b6da292a7aad640000057_Icon-imac.png">
              <h4 class="overlay-title-white">Amazon Web Services</h4>
              <p class="all-paragraphs-white">Amazon Web Services offers a broad set of global compute, storage, database, analytics, application, and deployment services that help organizations move faster, lower IT costs, and scale applications.</p>
            </li>
            <li class="overall-list-item">
              <img class="small-faded-icon overlay" src="images/Icon-suitcase.png" alt="532b6da8bc582ed740000033_Icon-suitcase.png">
              <h4 class="overlay-title-white">Ruby on Rails</h4>
              <p class="all-paragraphs-white">pureCoders current preferred, but not only, development framework of choice.  Powering giants such as AirBnB or SlideShare, an open-source friend, and loves to be test-driven during development.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content" id="features">
    <div class="w-container container centered">
      <div class="w-row _4-column-row">
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-black-route.png" alt="532b6a8392a7aad64000000c_icon-black-route.png">
          <h4>Ruby</h4>
          <p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-zandloper.png" alt="532b6a8992a7aad64000000d_icon-zandloper.png">
          <h4>Javascript</h4>
          <p>A dynamic computer programming language. It is most commonly used as part of web browsers, but is also growing in use server-side.  Often dubbed the worlds most powerful language.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/Icons-handshake-black.png" alt="53297edd9642b2bf49000351_Icons-handshake-black.png">
          <h4>HTML & CSS</h4>
          <p>Two languages that are the core technologies for building Web pages. Static in functionality, but serve as the objects that move around our screens on a daily basis.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-edit-2.png" alt="532b66cc087b04f33e0000d1_icon-edit-2.png">
          <h4>PostgreSQL</h4>
          <p>Provides some of the most advanced enterprise capabilities of any open source database, and is backed by a vibrant and innovative community with proven customer success.</p>
        </div>
      </div>
      <div class="w-row _4-column-row">
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-project.png" alt="532b67294b7ddef13e000148_icon-project.png">
          <h4>Rspec</h4>
          <p>A testing tool for the Ruby programming language. Born under the banner of BDD, it is designed to make TDD a productive and enjoyable experience.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-outbox.png" alt="532b6aa2ddef639260000006_icon-outbox.png">
          <h4>Capybara</h4>
          <p>An acceptance test framework for web app. Capybara helps you test web applications by simulating how a real user would interact with your app.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-suitcase-black.png" alt="532b671d4b7ddef13e000146_icon-suitcase-black.png">
          <h4>FactoryGirl</h4>
          <p>Another tool to help developers build software for real life solutions.  FactoryGirl pumps up your database to simulate real life during testing.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-mailbox.png" alt="532b6758c316399b5e000107_icon-mailbox.png">
          <h4>Cucumber</h4>
          <p>Cucumber lets dev teams describe how software should behave in plain text. The text is written in a business-readable domain-specific language and serves as docs, automated tests and dev-aid - in one format.</p>
        </div>
      </div>
      <div class="w-row _4-column-row">
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/Icons-arrowdown-3.png" alt="5329794416df30d92b0002f5_Icons-arrowdown-3.png">
          <h4>Google APIs</h4>
          <p>An app where you sign in via Google?  Or anything google, we've got it covered.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-edit.png" alt="532b67224b7ddef13e000147_icon-edit.png">
          <h4>Twitter</h4>
          <p>Sign in via Twitter, or automate a Twitter feed process? It's covered.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-camera.png" alt="532b6abb55212d916000000b_icon-camera.png">
          <h4>Facebook</h4>
          <p>Integrate with with billions of social interations, easily, courtesy of pureCoders.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-black-mail.png" alt="532b6ac055212d916000000c_icon-black-mail.png">
          <h4>Amazon</h4>
          <p>Not a fan of Google per say?  Move faster, lower IT costs, and scale applications with Amazon.</p>
        </div>
      </div>
      <div class="w-row _4-column-row">
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-outbox.png" alt="532b6aa2ddef639260000006_icon-outbox.png">
          <h4>eCommerce</h4>
          <p>We can integrate with giants like Shopify and Ebay, write code to manage payments via Stripe or otherwise.  Shopping carts via javascipt, not a problem.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-zandloper.png" alt="532b6a8992a7aad64000000d_icon-zandloper.png">
          <h4>BigData</h4>
          <p>The amount of tools are becoming more powerful and more numerous.  Whatever the challenge, data is harnessed and manipulated at a code level, define your problem, we'll engineer your big data solution.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/icon-project.png" alt="532b67294b7ddef13e000148_icon-project.png">
          <h4>User Management</h4>
          <p>Authenticated app sign in via Devise, or Twitter, Google or Facebook.  You can decide what meets your project specification most suitably.</p>
        </div>
        <div class="w-col w-col-3 w-col-small-3 feature-column">
          <img class="small-faded-icon" src="images/Icon-sushi-3.png" alt="532b6ae3ddef63926000000a_Icon-sushi-3.png">
          <h4>APIs</h4>
          <p>We can code your Company it's very own API and take it to the next generation, or integrate with whichever one of the thousands out there already, you decide what fits your soultion.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cta-stripe">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8 w-col-small-6 cta-column-left">
          <h3><strong>Interested?&nbsp;</strong>You can try us. We’re here to craft.</h3>
        </div>
        <div class="w-col w-col-4 w-col-small-6 cta-column-right" data-ix="fade-in-on-scroll-right"><a class="button green" href="/contact">Request a chat</a>
        </div>
      </div>
    </div>
  </div>

  <%= erb :'partials/footer' %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>