<%= erb :'partials/head' %>

<body>
  <div class="subpage-header pricing">
  <%= erb :'partials/navbanner' %>

    <div class="w-container header-container">
      <h2 class="header-title" data-ix="fade-in-on-load">what we can offer</h2>
      <h2 class="header-title _2" data-ix="fade-in-on-load-2">We’ve got something that will fit your plans.</h2>
    </div>
  </div>
  <div class="image-stripe"></div>
  <div class="page-content tint">
    <div class="w-container">
      <div class="w-row _4-column-row">
        <div class="w-col w-col-4 price-column">
          <div class="price-box">
            <img class="price-box-icon" src="images/icon-mailbox.png" alt="532b6758c316399b5e000107_icon-mailbox.png">
            <h4 class="price-box-title price">£ <strong>1,499</strong></h4>
            <h4 class="price-box-title"><strong>Simple</strong> Package</h4>
            <p>An easy starter package to get your business up to Technology speed.</p>
            <ul class="w-list-unstyled overall-list">
              <li class="list-item-lined">
                <p>1 Website</p>
              </li>
              <li class="list-item-lined">
                <p>1 Automation</p>
              </li>
              <li class="list-item-lined">
                <p>1 integration</p>
              </li>
            </ul><a class="button price-button" href="/contact">Get it now</a>
          </div>
        </div>
        <div class="w-col w-col-4 price-column active">
          <div class="price-box">
            <img class="price-box-icon" src="images/icon-users3.png" alt="532b6763c316399b5e00010b_icon-users3.png">
            <h4 class="price-box-title price">£ <strong>3,499</strong></h4>
            <h4 class="price-box-title"><strong>Basic</strong> Package</h4>
            <p>A package designed to offer affordable lasting tech solutions.</p>
            <ul class="w-list-unstyled overall-list">
              <li class="list-item-lined">
                <p>Environment Review</p>
              </li>
              <li class="list-item-lined">
                <p>Solution Build</p>
              </li>
              <li class="list-item-lined">
                <p>Solution implement</p>
              </li>
            </ul><a class="button price-button" href="/contact">GET IT NOW</a>
          </div>
        </div>
        <div class="w-col w-col-4 price-column last">
          <div class="price-box">
            <img class="price-box-icon" src="images/Icons-handshake-black.png" alt="53297edd9642b2bf49000351_Icons-handshake-black.png">
            <h4 class="price-box-title price">£ <strong>5,299</strong></h4>
            <h4 class="price-box-title"><strong>Pro</strong> Package</h4>
            <p>Get your very own web-application for your business</p>
            <ul class="w-list-unstyled overall-list">
              <li class="list-item-lined">
                <p>Ruby on Rails</p>
              </li>
              <li class="list-item-lined">
                <p>User management</p>
              </li>
              <li class="list-item-lined">
                <p>API integration</p>
              </li>
            </ul><a class="button price-button" href="/contact">GET IT NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <div class="overall-text-block">
        <div class="w-row">
          <div class="w-col w-col-6">
            <h3>Need something <strong>custom</strong> made?</h3>
            <p>Check out the range of tools our programmatic nature allow us to play with.</p>
            <ul class="w-list-unstyled overall-list">
              <li class="w-clearfix overall-list-item">
                <img class="icon-list-item" src="images/icon-edit-2.png" alt="532b66cc087b04f33e0000d1_icon-edit-2.png">
                <p>Create integrated API apps</p>
              </li>
              <li class="overall-list-item">
                <img class="icon-list-item" src="images/icon-suitcase-black.png" alt="532b671d4b7ddef13e000146_icon-suitcase-black.png">
                <p>Build your own API</p>
              </li>
              <li class="overall-list-item">
                <img class="icon-list-item" src="images/icon-mailbox.png" alt="532b6758c316399b5e000107_icon-mailbox.png">
                <p>Connect::Google::Facebook::Twitter</p>
              </li>
              <li class="overall-list-item">
                <img class="icon-list-item" src="images/icon-users3.png" alt="532b6763c316399b5e00010b_icon-users3.png">
                <p>Then enjoy your work</p>
              </li>
            </ul>
          </div>
          <div class="w-col w-col-6">
            <img src="images/Mockup.png" alt="532d70be4d4c2824690002bc_Mockup.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-section">
    <div class="w-container">
      <h2 class="image-section-title">Never to <strong>young</strong> or <strong>old</strong> to learn.<br>Our software will grow along with you.</h2><a class="button green" href="/features">Learn more</a>
    </div>
  </div>
  <div class="cta-stripe">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8 w-col-small-6 cta-column-left">
          <h3><strong>Interested?&nbsp;</strong>You can try us. We’re here to craft.</h3>
        </div>
        <div class="w-col w-col-4 w-col-small-6 cta-column-right" data-ix="fade-in-on-scroll-right"><a class="button green" href="/contact">Request a chat!</a>
        </div>
      </div>
    </div>
  </div>
   <%= erb :'partials/footer' %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>