
<%= erb :'partials/head' %>

<body>
  <div class="page-header">
    
    <%= erb :'partials/navbanner' %>

    <div class="w-container header-container">
      <h2 class="header-title" data-ix="fade-in-on-load">We make things easy.&nbsp;</h2>
      <h2 class="header-title _2" data-ix="fade-in-on-load-2">Crafted web-software, implemented with ease.  Your <strong>problems</strong> solved.</h2>
      <div class="button-container" data-ix="fade-in-on-load-left"><a class="button green" href="http://agilemanifesto.org/" target="_blank">Agile Manifesto</a>
      </div>
      <div class="button-container" data-ix="fade-in-on-load-right"><a class="button outline-white" href="/features">DISCOVER MORE</a>
      </div>
    </div>
  </div>
  <div class="arrow-button-section">
    <a class="w-inline-block button-down" href="#intro">
      <img class="arrow-icon" src="images/Icons-arrowdown-1.png" alt="5329705d9642b2bf4900026a_Icons-arrowdown-1.png">
    </a>
  </div>
  <div class="page-content" id="intro">
    <div class="w-container">
      <h2 class="section-header">About purecoders</h2>
      <div class="w-row">
        <div class="w-col w-col-4 overall-column">
          <h4><strong>What</strong> you get</h4>
          <p>Professional craftsmen. Software development is a craft, and we are craftsmen.  We guarantee business valued quality product, to solve your problem domain.  Implemented without stress and on-time.</p><a class="link whitespace" href="/features">Learn more ›</a>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4> <strong>How</strong> we do it</h4>
          <p>Professional approach.  From project delivery frameworks such as SCRUM or Agile, to software frameworks such as Ruby on Rails and Google APIs.  Organised and precise, create quality bespoke solutions.</p><a class="link whitespace" href="/pricing">Learn more ›</a>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4><strong>Why</strong></h4>
          <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
          <p>Crafted results.  Solutions guaranteed to solve your problem domain, bespoke to fit your business winning formula.  Shread cost and create advantage by empowering your business with code.</p><a class="link whitespace" href="/features">Learn more ›</a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content tint">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="/features">
            <img class="icon" src="images/Icons-mailglobe.png" alt="532971be5640f1d72b000248_Icons-mailglobe.png">
            <h4 class="text-block-title">Technology <strong>empowered</strong></h4>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="/features">
            <img class="icon" src="images/Icons-stats.png" alt="5329737a9642b2bf490002aa_Icons-stats.png">
            <h4 class="text-block-title">An <strong>Agile</strong> mindset</h4>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="/features">
            <img class="icon" src="images/Icons-handshake.png" alt="53297380817883c1490002b8_Icons-handshake.png">
            <h4 class="text-block-title">Purposeful <strong>design</strong></h4>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="/features">
            <img class="icon" src="images/Icons-presentation.png" alt="53297385817883c1490002b9_Icons-presentation.png">
            <h4 class="text-block-title">Professional <strong>delivery</strong></h4>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="image-section">
    <div class="w-container">
      <h2 class="image-section-title">Crafted solutions to create your business winning formula.<br></h2><a class="button green" href="/features">Learn more</a>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <h2 class="section-header">Our features</h2>
      <div class="w-row">
        <div class="w-col w-col-4 overall-column">
          <h4>Cutting edge tools</h4>
          <p>Open source technologies are our preferred tool of choice in today's business battleground.  Integrate and use the same technolgies that power internet GIANTS such as Google, Amazon or Facebook.</p>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4>Cutting edge mindsets</h4>
          <p>Agile Manifesto, Apprenticeship Patterns and Continous Improvement, are pre-requisite mindsets we embed to ensure we deliver carefully crafted quality product always.</p>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4>Cutting edge delivery</h4>
          <p>We can be fast because we build only what you need. We don't waste time on bureaucracy or in non-technical meetings. We focus on giving you the best value as soon as possible.</p>
        </div>
      </div>
      <div class="divider-line"></div>
      <p>Check out our preferred engineering toolbox!&nbsp;<a class="link" href="/features">Learn more ›</a>
      </p>
    </div>
  </div>
  <div class="cta-stripe">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8 w-col-small-6 cta-column-left">
          <h3><strong>Interested?&nbsp;</strong>You can try us. We’re here to craft your project.</h3>
        </div>
        <div class="w-col w-col-4 w-col-small-6 cta-column-right" data-ix="fade-in-on-scroll-right"><a class="button green" href="contact.html">Request a chat</a>
        </div>
      </div>
    </div>
  </div>

  <%= erb :'partials/footer' %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>