<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Mon Jun 30 2014 16:35:22 GMT+0000 (UTC) -->
<html data-wf-site="53b191bb0dafe9aa5320894b">
<head>
  <meta charset="utf-8">
  <title>eatCode</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/webflow.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/whitespace1404146029621.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic"]
      }
    });
  </script>
  <script type="text/javascript" src="javascript/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/Webclip-salmon.jpg">
</head>
<body>
  <div class="page-header">
    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" data-easing="ease-in-out-quart">
      <div class="w-container"><a class="w-nav-brand logo-container" href="/"><h1>pure<span class="logo-space">Coders</span></h1></a>
        <nav class="w-nav-menu nav-menu-container" role="navigation"><a class="w-nav-link nav-link" href="/">Home</a><a class="w-nav-link nav-link" href="about-us.html">about</a><a class="w-nav-link nav-link" href="/features">Features</a><a class="w-nav-link nav-link" href="/pricing">Pricing</a><a class="w-nav-link nav-link"
          href="faq.html">faq</a><a class="w-nav-link nav-link" href="/contact">contact</a>
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu menu-icon"></div>
        </div>
      </div>
    </div>
    <div class="w-container header-container">
      <h2 class="header-title" data-ix="fade-in-on-load">We make things easy.&nbsp;</h2>
      <h2 class="header-title _2" data-ix="fade-in-on-load-2">Crafted web-software, implemented with ease.  Your <strong>problems</strong> solved.</h2>
      <div class="button-container" data-ix="fade-in-on-load-left"><a class="button green" href="http://agilemanifesto.org/" target="_blank">Agile Manifesto</a>
      </div>
      <div class="button-container" data-ix="fade-in-on-load-right"><a class="button outline-white" href="/features">DISCOVER MORE</a>
      </div>
    </div>
  </div>
  <div class="arrow-button-section">
    <a class="w-inline-block button-down" href="#intro">
      <img class="arrow-icon" src="images/Icons-arrowdown-1.png" alt="5329705d9642b2bf4900026a_Icons-arrowdown-1.png">
    </a>
  </div>
  <div class="page-content" id="intro">
    <div class="w-container">
      <h2 class="section-header">About purecoders</h2>
      <div class="w-row">
        <div class="w-col w-col-4 overall-column">
          <h4><strong>What</strong> you get</h4>
          <p>Professional craftsmen. Software development is a craft, and we are craftsmen.  We guarantee business valued quality product, to solve your problem domain.  Implemented without stress and on-time.</p><a class="link whitespace" href="/features">Learn more ›</a>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4> <strong>How</strong> we do it</h4>
          <p>Professional approach.  From project delivery frameworks such as SCRUM or Agile, to software frameworks such as Ruby on Rails and Google APIs.  Organised and precise, create quality bespoke solutions.</p><a class="link whitespace" href="/pricing">Learn more ›</a>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4><strong>Why</strong></h4>
          <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
          <p>Crafted results.  Solutions guaranteed to solve your problem domain, bespoke to fit your business winning formula.  Shread cost and create advantage by empowering your business with code.</p><a class="link whitespace" href="about-us.html">Learn more ›</a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content tint">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="about-us.html">
            <img class="icon" src="images/Icons-mailglobe.png" alt="532971be5640f1d72b000248_Icons-mailglobe.png">
            <h4 class="text-block-title">Technology <strong>empowered</strong></h4>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="pricing.html">
            <img class="icon" src="images/Icons-stats.png" alt="5329737a9642b2bf490002aa_Icons-stats.png">
            <h4 class="text-block-title">An <strong>Agile</strong> mindset</h4>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="about-us.html">
            <img class="icon" src="images/Icons-handshake.png" alt="53297380817883c1490002b8_Icons-handshake.png">
            <h4 class="text-block-title">Purposeful <strong>design</strong></h4>
          </a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 link-block-column">
          <a class="w-inline-block link-text-block" href="/features">
            <img class="icon" src="images/Icons-presentation.png" alt="53297385817883c1490002b9_Icons-presentation.png">
            <h4 class="text-block-title">Professional <strong>delivery</strong></h4>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="image-section">
    <div class="w-container">
      <h2 class="image-section-title">Crafted solutions to create your business winning formula.<br></h2><a class="button green" href="/features">Learn more</a>
    </div>
  </div>
  <div class="page-content">
    <div class="w-container">
      <h2 class="section-header">Our features</h2>
      <div class="w-row">
        <div class="w-col w-col-4 overall-column">
          <h4>Cutting edge tools</h4>
          <p>Open source technologies are our preferred tool of choice in today's business battleground.  Integrate and use the same technolgies that power internet GIANTS such as Google, Amazon or Facebook.</p><a class="link whitespace" href="/features">Learn more ›</a>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4>Cutting edge mindsets</h4>
          <p>Agile Manifesto, Apprenticeship Patterns and Continous Improvement, are pre-requisite mindsets we embed to ensure we deliver carefully crafted quality product always.</p><a class="link whitespace" href="/features">Learn more ›</a>
        </div>
        <div class="w-col w-col-4 overall-column">
          <h4>Cutting edge delivery</h4>
          <p>We can be fast because we build only what you need. We don't waste time on bureaucracy or in non-technical meetings. We focus on giving you the best value as soon as possible.</p><a class="link whitespace" href="/features">Learn more ›</a>
        </div>
      </div>
      <div class="divider-line"></div>
      <p>Check out our engineering toolbox!&nbsp;<a class="link" href="/features">Learn more ›</a>
      </p>
    </div>
  </div>
  <div class="cta-stripe">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8 w-col-small-6 cta-column-left">
          <h3><strong>Interested?&nbsp;</strong>You can try us. We’re here to craft your project.</h3>
        </div>
        <div class="w-col w-col-4 w-col-small-6 cta-column-right" data-ix="fade-in-on-scroll-right"><a class="button green" href="contact.html">Request a chat</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <h6 class="footer-title">Learn more</h6><a class="link footer-link" href="#">Why whitespace</a><a class="link footer-link" href="#">Pricing</a><a class="link footer-link" href="#">Features</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <h6 class="footer-title">Support</h6><a class="link footer-link" href="#">FAQ</a><a class="link footer-link" href="#">Help documents</a><a class="link footer-link" href="index.html">Send us a mail</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <h6 class="footer-title">Community</h6><a class="link footer-link" href="#">Our Blog</a><a class="link footer-link" href="#">Forum</a><a class="link footer-link" href="#">Facebook</a>
        </div>
        <div class="w-col w-col-3 w-col-small-6 footer-column">
          <h6 class="footer-title">Contact</h6><a class="link footer-link" href="mailto:info@">info@whitespace.com</a><a class="link footer-link" href="tel:">(+21) 202 102033</a>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4 footer-bottom-column">
            <p class="bottom-footer-text">© 2014 White&nbsp;Space.com</p>
          </div>
          <div class="w-col w-col-4 footer-bottom-column">
            <p class="bottom-footer-text">Streetroad 302, 2211&nbsp;DE&nbsp;Chicago</p>
          </div>
          <div class="w-col w-col-4 footer-bottom-column">
            <a class="w-inline-block some-block-small footer-icon" href="http://www.twitter.com" target="_blank">
              <img src="images/Icon-twitter.png" alt="532b67a5c316399b5e000110_Icon-twitter.png">
            </a>
            <a class="w-inline-block some-block-small footer-icon" href="http://www.facebook.com" target="_blank">
              <img src="images/Icon-facebook.png" alt="532b67de087b04f33e0000d8_Icon-facebook.png">
            </a>
            <a class="w-inline-block some-block-small footer-icon" href="http://www.google.com" target="_blank">
              <img src="images/Icon-googleplus.png" alt="532bf552c876cc426c000158_Icon-googleplus.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>